<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Management System</title>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}" />
    {% block extra_header %}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}

    <div class="sidebar">
        <div class="logo_content">
          <div class="logo">
            <i class="bx bxl-javascript"></i>
            <div class="logo_name">
              Dashboard
            </div>
          </div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
          <li>
            <i class="bx bx-search"></i>
            <input placeholder="Search..." />
            <span class="tooltip">Search</span>
          </li>
          <li>
            <a href="{{ url_for('get_calendar') }}">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name">Calendar</span>
            </a>
            <span class="tooltip">Calendar</span>
          </li>
          <li>
            <a href="{{ url_for('dashboard')}} ">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          {% if current_user.is_authenticated %}
            <li>
              <a href="#" class="group-dropdown-toggle">
                  <i class="bx bx-group"></i>
                  <span class="links_name">Groups</span>
              </a>
              <span class="tooltip">Groups</span>
            </li>
            <ul class="group-dropdown-menu">
                <li>
                  <a href="#">
                    <span class="links_name">Group 1</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="links_name">Group 2</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="links_name">Group 3</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="links_name">Group 4</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="links_name">Group 5</span>
                  </a>
                </li>
            </ul>
          {% endif %}
          <li>
            <a href="#">
              <i class="bx bx-chat"></i>
              <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-pie-chart-alt-2"></i>
              <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-folder"></i>
              <span class="links_name">Files Manager</span>
            </a>
            <span class="tooltip">Files</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-cart-alt"></i>
              <span class="links_name">Order</span>
            </a>
            <span class="tooltip">Order</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-heart"></i>
              <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-cog"></i>
              <span class="links_name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
          </li>
        </ul>
        {% if current_user.is_authenticated %}
        <div class="profile_content">
          <div class="profile">
            <div class="profile_details">
              <img
                src="https://cactusthemes.com/blog/wp-content/uploads/2018/01/tt_avatar_small.jpg"
                alt=""
              />
              <div class="name_job">
                <div class="name">{{ current_user.name }}</div>
              </div>
            </div>
            <form action="{{ url_for('signout') }}" method="GET">
              <button style="color: #eee;">
                <i class="bx bx-log-out" id="log_out"></i>
              </button>
            </form>
          </div>
        </div>
        {% endif %}
    </div>
    
    <div class="home_content">
      {% block content %}
      {% endblock %}
    </div>
    
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>