{% extends 'base.html' %}

{% block extra_header %}
<!-- FullCalender CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"/>
<link rel="stylesheet" href="{{ url_for('static',filename='css/calendar.css') }}"/>

<!-- FullCalender JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="{{ url_for ('static',filename='js/calendar.js') }}"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div id="calendar"></div>
	</div>

	<div id='script-warning'>
		Error getting data from <code>/data</code> endpoint.
	</div>

	<div id='loading'>loading...</div>

	<!-- Bootstrap Modal -->
	<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="eventModalLabel">Add Event</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="eventForm">
						<div class="form-group">
							<label for="eventTitle">Event Title</label>
							<input type="text" class="form-control" id="eventTitle" required>
						</div>
						<div class="form-group">
							<label for="eventStart">Start Time</label>
							<input type="datetime-local" class="form-control" id="eventStart" required>
						</div>
						<div class="form-group">
							<label for="eventEnd">End Time</label>
							<input type="datetime-local" class="form-control" id="eventEnd" required>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="saveEvent">Save Event</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}