{% for message in get_flashed_messages(with_categories = True) %}
{% if message %}
{% if message[0] == "danger"%}
<div class="alert alert-dismissible fade show" role="alert"
    style="background-color:white; color:black; padding:10px; margin-right:5px; z-index: 2000;">
    <i class="bx bx-error-circle" style="color:red;"></i>
    {{ message[1] }}
</div>
{% else %}
<div class="alert alert-dismissible fade show" role="alert"
    style="background-color:white; color:black; padding:10px; margin-right:5px; z-index: 2000;">
    <i class="bx bx-check-circle" style="color:lawngreen;"></i>
    {{ message[1] }}
</div>
{% endif %}
{% endif %}
{% endfor %}

<style>
    .alert {
        opacity: 0.8;
        z-index: 9999;
        transition: opacity 1s;
        position: fixed;
        right: 0;
    }
</style>

<script>
    // Function to automatically dismiss alerts after a certain time
    function autoDismissAlerts() {
        var alerts = document.querySelectorAll('.alert');
        alerts.forEach(function (alert) {
            setTimeout(function () {
                alert.style.opacity = '0';
                setTimeout(function () {
                    alert.remove();
                }, 2000);
            }, 1000);
        });
    }
    window.onload = autoDismissAlerts;
</script>